doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='author', content='SY')
		meta(name='Description' content='Author: A.N. Author,\
Illustrator: P. Picture, Category: Books, Price: $17.99,\
Length: 784 pages')
		title RGB TEST
		link(rel='stylesheet' href="css/style.css")
	body
		header.header
			.container
				a.logo(href="#")
				nav.top-menu
					div.toggle-menu
						.toggle-btn
							div
							div
							div
						span МЕНЮ
					ul.menu-list
						li.menu-item
							a.menu-link(href="#") Контакты
						li.menu-item
							a.menu-link(href="#") Цены
						li.menu-item
							a.menu-link(href="#") О нас
						li.menu-item
							a.menu-link(href="#") Проекты
						li.menu-item
							a.menu-link(href="#") Услуги
						li.menu-item
							a.menu-link.contact(href="#contact-form" rel="modal:open")
								span Консультация
				.header-phone
					a.phone(href="tel:+73422250075")
						span &#9990;
						span +7 342 225-00-75
				a.btn.btn__blue-br(href="#contact-form" rel="modal:open") 
					span
					span Консультация
		main
			section.banner
				.banner-slider
					.banner-item
						.banner-item--inner
							h3 разработка<br> и продвижение<br> сайтов
							p Эффективные решения для бизнеса в интернете
							a.btn.btn__blue(href="#") посмотреть проекты &#8594;
					.banner-item
						.banner-item--inner
							h3 разработка<br> и продвижение<br> сайтов
							p Эффективные решения для бизнеса в интернете
							a.btn.btn__blue(href="#") посмотреть проекты &#8594;
					.banner-item
						.banner-item--inner
							h3 разработка<br> и продвижение<br> сайтов
							p Эффективные решения для бизнеса в интернете
							a.btn.btn__blue(href="#") посмотреть проекты &#8594;
					.banner-item
						.banner-item--inner
							h3 разработка<br> и продвижение<br> сайтов
							p Эффективные решения для бизнеса в интернете
							a.btn.btn__blue(href="#") посмотреть проекты &#8594;
					.banner-item
						.banner-item--inner
							h3 разработка<br> и продвижение<br> сайтов
							p Эффективные решения для бизнеса в интернете
							a.btn.btn__blue(href="#") посмотреть проекты &#8594;


			//- test 2	-------------------------------------------
			section.catalog
				.catalog-filters
					p(data-filter=".phoneIt")
						input(type="checkbox", name="phoneIt", value=".phoneIt")
						span.check
						span Смартфоны
					span.border
					p(data-filter=".laptopIt")
						input(type="checkbox", name="laptopIt", value=".laptopIt")
						span.check
						span Планшеты/Ноутбуки
					span.border
					p(data-filter=".watchIt")
						input(type="checkbox", name="watchIt", value=".watchIt")
						span.check
						span Часы
					span.border
					p(data-filter=".accessoriesIt")
						input(type="checkbox", name="accessoriesIt", value=".accessoriesIt")
						span.check
						span Аксессуары
					span.border
					p(data-filter=".otherIt")
						input(type="checkbox", name="otherIt", value=".otherIt")
						span.check
						span Другое
					//- select#filter-select(name="filterSelect")
					//- 	option(value="phoneIt") Смартфоны
					//- 	option(value="laptopIt") Планшеты/Ноутбуки
					//- 	option(value="phoneIt") Часы
					//- 	option(value="phoneIt") Аксессуары
					//- 	option(value="phoneIt") Другое
				.catalog-container
					.grid-sizer
					.gutter-sizer
					.catalog-item.phoneIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 5s
								span.catalog-item_price 
									span.price_int $619
									span.price_frac .20
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.phoneIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/contact-form-bg.png", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IMG
								span.catalog-item_price 
									span.price_int $519
									span.price_frac .00
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.laptopIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 5s
								span.catalog-item_price 
									span.price_int $612
									span.price_frac .20
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.watchIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 6s
								span.catalog-item_price 
									span.price_int $320
									span.price_frac .20
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.phoneIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 4s
								span.catalog-item_price 
									span.price_int $219
									span.price_frac .25
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.otherIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 4s
								span.catalog-item_price 
									span.price_int $219
									span.price_frac .25
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.phoneIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 4s
								span.catalog-item_price 
									span.price_int $219
									span.price_frac .25
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.phoneIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 4s
								span.catalog-item_price 
									span.price_int $219
									span.price_frac .25
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.laptopIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 4s
								span.catalog-item_price 
									span.price_int $219
									span.price_frac .25
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.watchIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 4s
								span.catalog-item_price 
									span.price_int $219
									span.price_frac .25
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.phoneIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 4s
								span.catalog-item_price 
									span.price_int $219
									span.price_frac .25
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
					.catalog-item.otherIt
						.catalog-item-inner
							.catalog-item_img
								img(src="images/catalog-img.jpg", alt="iphone")
							.catalog-item_info
								h3.catalog-item_title IPhone 4s
								span.catalog-item_price 
									span.price_int $219
									span.price_frac .25
							a.catalog-item_bye(href="#backetModal", rel="modal:open") Купить
				p.add-info 
					span * 
					| Указанные цены включают стоимость товара и доставки
		.modal.contact-form#contact-form
			.contact-form--info
				h3 с радостью<br> обсудим<br> вашу идею
				p Просто расскажите о своих задумках, а мы придумаем, как их воплотить!
			form.form(name="kontactForm",action="https://formspree.io/frontend@rgb-agency.com.ua", method="POST")
				.form-input
					input.input__wh-bor(type="text" name="user-name", placeholder="Представьтесь, пожалуйста" required)
					input.input__wh-bor#phone(type="tel", name="user-phone", placeholder="+7 (___) ___-__-__" required)
				textarea.form-textarea.input__wh-bor(name="about-project", placeholder="Расскажите немного о Вашем проекте" required)
				.files
					label
						span.add-icon
						input.hidden-input(type='file', name='loadFile', multiple)
						| ПРИКРЕПИТЬ ФАЙЛ
					ul.fileList
				.form-footer
					input.btn.btn__white(type="submit", value="Отправить")
					label
						input.check-agree(type="checkbox", name="checkAgree" checked, required)
						span.check-icon
						span.check-value Я согласен на обработку 
							a(href="#") персональных данных
		.modal.bye-backet#backetModal
			header.backet_header
				h3.backet_title Iphone 5
			.backet_body
				.backet_img
					img(src="images/catalog-img.jpg", alt="item")
				form.backet_order-info(name="formBucket")
					label Память
						br
						select#selectMemory(name="selectMemory")
							option(value="64") 64Gb
							option(value="128") 128Gb
							option(value="264") 254Gb
							option(value="528") 528Gb
					label Цвет
						br
						select#selectColor(name="selectColor")
							option(value="white") Белый
							option(value="silver") Серебро
							option(value="black") Чорный
							option(value="red") Красный
					label Количество
						br
						select#selectCount(name="selectCount")
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
							option(value="4") 4
					.backet_order
						span.backet_price
							span.price_int $519
							span.price_frac .00
						button.backet_bye(type="submit") Купить
						a.return-store(href="#") Посмотреть в магазине


		script(src='js/jquery.min.js' async)
		script(src='js/jquery-migrate.min.js' async)
		script(src='js/jquery.inputmask.min.js' async)
		script(src='js/jquery.modal.min.js' async)
		script(src='js/slick.min.js' async)
		script(src='js/isotope.pkgd.min.js' async)
		script(src='js/scripts.js' async)

